.first-color { 
	background: #e7eaf6; 
}
	
.second-color { 
	background: #a2a8d3; 
}

.third-color { 
	color: #38598b; 
}

.fourth-color { 
	color: #113f67; 
}

:root{
	--main-bg: #e7eaf6;
	--alt-bg: #a2a8d3; 
	--text: #38598b;
	--alt-text: #113f67;
}