.first-color {
  background: #e7eaf6;
}

.second-color {
  background: #a2a8d3;
}

.third-color {
  color: #38598b;
}

.fourth-color {
  color: #113f67;
}

:root {
  --bg: #ffffff;
  --alt-bg: #113f67;
  --alt2-bg: #38598b;
  --text: #000000;
  --alt-text: #e9e9e9;
}
