 @keyframes abc {
  0% { opacity: 0;
       transform:translateY(-30px); }
  100% { opacity: 1;  }
}
   
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
        
main{
    /* Zdjecie ze strony https://wallpaperaccess.com/movie-collage */    
    background-image: url("/img/1512217.jpg");
    background-size: contain;
    flex:1;
    margin: 0;
    color:#d0cece;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

main h2{
    text-shadow: 10px 10px 2px #000;
    animation: abc 1s;
}
