body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 500px;
    height: 500px;
    text-align: left;
    background-color: #282a37;
    border-radius: 10px;
    box-shadow: 15px 15px 24px  #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    align-self: flex-start;
    margin-left: 3rem;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 0;
  background-color: #323645;
  box-sizing: border-box;
  width: 80%;
  border-radius: 10px;
  transition: 0.3s;
}

input[type=text]:focus, input[type=password]:focus {
  outline: 2px solid rgb(89, 0, 89);
}

button {
  background-color: #1d90f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
  transition: 0.3s;
}


button:hover{ 
  background-color: #125b9a;
}

@media (max-width: 600px) {
    main{
      background-color: #282a37;
    }

    .login{
      border-radius: 0;
      box-shadow: 0 0 0;
    }
}