.gallery {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 25vw);
    margin-top: 2rem;
    gap:1rem;
}

.gallery div {
    margin-top: 2rem;
    background-color: #282a37;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #000000;
    overflow: hidden;
}

.gallery div:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    border:rgb(111, 111, 255) solid 2px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    padding: 2rem!important;
}

@media (max-width: 800px) {
    .gallery {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 50vw);
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows:repeat(20, 100vw);
    }
}