@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1e252b;
    text-align: center;
     font-family: Roboto, sans-serif;
}


a{
    text-decoration: none;
}

body, a{
     color:#abbed2;
}

nav{
    background-color: #14181c;
    padding: 1rem;
    position:sticky;
    top:0;    
    font-size: 1.1em;      
}

nav ul{
    list-style-type:none;
    display: flex;
    overflow: visible;
    gap:1rem;
}

nav li:first-child{
    margin-right: auto;
}

nav a:hover{
    color:#c7ddf3;
}


footer{
    background-color: #2c3440;
    padding: 1rem;
}

